<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pwr.mycookbook">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dossier"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dossier"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.recepie_detail.RecipeDetailActivity"
            android:parentActivityName=".ui.main.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.add_edit_recipe.AddEditRecipeActivity"
            android:parentActivityName=".ui.recepie_detail.RecipeDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recepie_detail.RecipeDetailActivity"
            > </meta-data>
        </activity>
        <activity
            android:name=".ui.category_detail.CategoryDetailActivity"
            android:parentActivityName=".ui.main.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.user_profile.LoginActivity"
            android:parentActivityName=".ui.main.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.user_profile.SignupActivity"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.user_profile.UserProfileActivity"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.user_profile.EditUserEmailActivity"
            android:parentActivityName=".ui.user_profile.UserProfileActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.user_profile.UserProfileActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.user_profile.SynchronizationActivity"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.user_profile.EditUserNameActivity"
            android:parentActivityName=".ui.user_profile.UserProfileActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.user_profile.UserProfileActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.user_profile.EditUserPasswordActivity"
            android:parentActivityName=".ui.user_profile.UserProfileActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.user_profile.UserProfileActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.import_recipe_from_website.ImportRecipeFromWebsiteActivity"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.import_recipe_from_website.WebsiteImagesGalleryActivity"
            android:parentActivityName=".ui.import_recipe_from_website.ImportRecipeFromWebsiteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.import_recipe_from_website.ImportRecipeFromWebsiteActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.shoppinglist_detail.ShoppinglistDetailActivity"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.timer.TimerActivity"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ui.measure_and_weight.MeasureAndWeightActivity"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"> </meta-data>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
        <receiver
            android:name=".ui.timer.AlarmReicver"
            android:exported="false"
            > </receiver>
    </application>

</manifest>