<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pwr.mycookbook">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyCookbookApp"
        android:allowBackup="true"
        android:icon="@mipmap/dossier"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dossier"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.recipe_detail.RecipeDetailActivity"> </activity>
        <activity android:name=".view.add_edit_recipe.AddEditRecipeActivity"> </activity>
        <activity android:name=".view.category_detail.CategoryDetailActivity"> </activity>
        <activity android:name=".view.user_profile.LoginActivity"> </activity>
        <activity android:name=".view.user_profile.SignupActivity"> </activity>
        <activity android:name=".view.user_profile.UserProfileActivity"> </activity>
        <activity android:name=".view.user_profile.EditUserProfileActivity"> </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>

</manifest>